# backend url
VITE_API_BASE_URL=http://localhost:8080 
# keycloak url ou authentication server url
VITE_KEYCLOAK_URL=http://localhost:8180

VITE_KEYCLOAK_REALM=itdesk
VITE_KEYCLOAK_CLIENT_ID=itdesk-frontend
